---
---

@import "{{ site.theme }}";
@media print, screen and (min-width: 960px) {
  .wrapper {
    width: auto;
    margin: 0 auto;
  }

  section {
    width: 800px;
    float: right;
    padding-bottom: 50px;
  }

  header {
    width: 300px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  footer {
    width: 300px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
